{% extends 'TralangBundle:MainView:home.html.twig' %}

{% block body %}
    <div class="jumbotron choose-mode">
    	<div class="container">
    		<h1>On this training you learn 5 new english words, from words which you added.</h1>
    		<p>
                <button type="button" class="btn btn-primary btn-lg start-TW" data-mode-train = 2>Translate-Word</button>
                <button type="button" class="btn btn-primary btn-lg start-WT" data-mode-train = 1>Word-Translate</button>
                <button type="button" class="btn btn-primary btn-lg start-LW" data-mode-train = 3>Learn-Word</button>
    		</p>
    	</div>
    </div>
    <div class="learn-words">
        <div class="learn-words-container">
            <div class="error-block">
                <div class="error-message"></div>
            </div>
            <div class="word"></div>
            <div class="word-translate"></div>
            <div class="btn">
                <button type="button" class="btn btn-default next-word">Next</button>
            </div>
        </div>
    </div>
    <audio src='' class="speech"></audio>
    <div class="second_mode">
        <div class="second-mode-container">
            <div class="learn-text" style="background-color: #5bc0de; font-size: 24px"></div>
            <div class="learn-text-translate">
                <ul class="words_list list-group">
                    <button class="btn-default list-btn"><li class="list-group-item"></li></button>
                    <button class="btn-default list-btn"><li class="list-group-item"></li></button>
                    <button class="btn-default list-btn"><li class="list-group-item"></li></button>
                    <button class="btn-default list-btn"><li class="list-group-item"></li></button>
                    <button class="btn-default list-btn"><li class="list-group-item"></li></button>
                </ul>
            </div>
            <button type="button" class="btn btn-default next-group-word">Next</button>
        </div>
    </div>


{% endblock %}