{% extends 'TralangBundle:MainView:home.html.twig' %}

{% block body %}
    <div class="jumbotron">
    	<div class="container">
    		<h1>This you can choose type of training</h1>
    		<p>On this training you learn 5 new english words, from words which you added.</p>
    		<p>
                <button type="button" class="btn btn-primary btn-lg start-training">Start</button>
    		</p>
    	</div>
    </div>
{% endblock %}