{% extends 'TralangBundle:MainView:home.html.twig' %}
{% block body %}
    <div class="first_mode">
        <div class="en_word"></div>
        <div class="ru_word"></div>
        <audio src='' class="speech"></audio>
        <button type="button" id="query_words">Start</button>
    </div>
{% endblock %}