{% extends "TralangBundle:MainView:home.html.twig" %}

{% block body %}
<h3 class="text-muted">Add words</h3>
<div class="addWords">
<div class="addBlock">
    <form>
        <div class="col-lg">
            <div class="input-group">
                <input type="text" class="form-control word" type="text" id="query" maxlength="40">
                      <span class="input-group-btn">
                        <input type="button" value="Add" class="btn btn-default show_translate">
                      </span>
            </div>
        </div>
    </form>
</div>
<div class="chooseTranslate">
    <div class="alert-info send" style="text-align: center"></div>
    <div class="alert alert-success alert-dismissible" role="alert">
        Word successfully added!
    </div>
    <div class="alert alert-danger">
        That words already exist!
    </div>
</div>
<div class="state"></div>
</div>
<audio src='' class="speech"></audio>
<div class="all_words">
    <div class="panel panel-default">
        <div class="panel-heading">Words list</div>
        <div class="words">
            <table class="table table-hover">
                {% block list %}{% endblock %}
            </table>
        </div>
    </div>
</div>
{% endblock %}