{% extends "TralangBundle:AddWords:add.html.twig" %}

{% block list %}
    {% for item in array %}
        {% for i in item %}
            <tr>
                <td>
                    <button type="button" class="btn btn-primary btn-xs play">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                </td>
                <td>{{ i.enWord }} - {{ i.ruWord }}</td>
                <td>
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
{% endblock %}