
.content {
    /* Set rules to fill background */
    background: url('https://en.yeed.me/system/pictures/images/000/092/129/original/English1.jpg?1444137434') no-repeat center center fixed;

    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

.second_mode{
    display: none;
}
.container{
    width: 1000px;
    margin: auto;
}

.sign-in{
    display: none;
    width: 300px;
    position: absolute;
    right: 47px;
}
.sign-up{
    display: none;
    width: 300px;
    position: absolute;
    right: 47px;
}
.login{
    margin-top: 50px;
}
.warning-sign-up{
    display: none;
}
.warning-login{
    display: none;
}